In [1]:
import pandas as pd
import pymysql

In [2]:
db_name = "premier_league"
db_host = "localhost"
db_username = "root"
db_password = "Garracrema25"

In [3]:
try:
    conn = pymysql.connect(host=db_host,
                            port=int(3306),
                            user='root',
                            passwd=db_password,
                            db=db_name)
except e:
    print(e)

In [4]:
if conn:
    print("Connection Successful!")
else:
    print("There was an error")

Connection Successful!

In [5]:
full_table = pd.read_sql_query("select * from matches_data limit 5", conn)
full_table

,Match_Name,Match_Date,Team,Manager,Captain,Score,Penalties,Fouls,Corners,Crosses,...,Possession,PassingAccuracy,SucPass,NumofPass,ShotsAccuracy,SucShots,NumofShots,SavesAccuracy,SucSaves,NumofSaves
0,Liverpool vs. Norwich City,8/9/2019 0:00:00,Liverpool,JÃ¼rgen Klopp,Jordan Henderson,4,0,10,11,15,...,0.57,0,409,521,0.47,7,15,0.83,5,6
1,Liverpool vs. Norwich City,8/9/2019 0:00:00,Norwich City,Daniel Farke,Grant Hanley,1,0,12,2,5,...,0.43,0,304,395,0.46,6,13,0.42,3,7
2,West Ham United vs. Manchester City,8/10/2019 0:00:00,West Ham United,Manuel Pellegrini,Aaron Cresswell,0,0,11,1,10,...,0.43,0,347,428,0.60,3,5,0.50,4,8
3,West Ham United vs. Manchester City,8/10/2019 0:00:00,Manchester City,Pep Guardiola,David Silva,5,0,15,1,8,...,0.57,0,495,564,0.62,8,13,1.00,3,3
4,Burnley vs. Southampton,8/10/2019 0:00:00,Burnley,Sean Dyche,Ben Mee,3,0,6,2,7,...,0.46,0,214,346,0.44,4,9,1.00,3,3

how many matches each team has played? as home? as visitor?
which team wins more at home? and as visitor, which one is the worse in both categories?
Rank them by each category
posession - analyze each category based on possession

In [6]:
number_of_games = pd.read_sql_query("""
select
count(distinct Match_Name) as number_of_matches
from matches_data
""", conn)

number_of_games.style.hide_index()

In [7]:
number_of_teams = pd.read_sql_query("""
select
count(distinct Team) as count_of_teams
from matches_data
""", conn)

number_of_teams.style.hide_index()

In [8]:
count_home_per_team= pd.read_sql_query("""
with home_visitor as
(
select
substr(Match_Name, 1, instr(Match_Name, ' vs. ')) as home,
substr(Match_Name, instr(Match_Name, '.') + 1) as visitor
from matches_data
)
select
home,
(count(*)/2) as games_at_home
from home_visitor
group by home
""", conn)

count_home_per_team.style.hide_index()

In [9]:
count_visits_per_team= pd.read_sql_query("""
with home_visitor as
(
select
substr(Match_Name, 1, instr(Match_Name, ' vs. ')) as home,
substr(Match_Name, instr(Match_Name, '.') + 1) as visitor
from matches_data
)
select
visitor,
(count(*)/2) as games_away
from home_visitor
group by visitor
""", conn)

count_visits_per_team.style.hide_index()

In [10]:
goals_per_team = pd.read_sql_query("""
select
Team, sum(Score) as total_goals
from matches_data
group by Team
order by total_goals desc
""", conn)

goals_per_team.style.hide_index()

In [11]:
goals_at_home = pd.read_sql_query("""
select
substr(Match_Name, 1, instr(Match_Name, ' vs. ')) as home, sum(Score) as home_goals
from matches_data
group by home
order by home_goals desc
""", conn)

goals_at_home.style.hide_index()

In [12]:
goals_away = pd.read_sql_query("""
select
substr(Match_Name, instr(Match_Name, '. ') + 1) as away, sum(Score) as away_goals
from matches_data
group by away
order by away_goals desc
""", conn)

goals_away.style.hide_index()

In [14]:
fouls_made = pd.read_sql_query("""
select
Team,
sum(Fouls) as fouls_made
from matches_data
group by Team
order by fouls_made desc
""", conn)

fouls_made.style.hide_index()

In [15]:
fouls_made = pd.read_sql_query("""
select
Team,
avg(Fouls) as avg_fouls_made
from matches_data
group by Team
order by avg_fouls_made desc
""", conn)

fouls_made.style.hide_index()

In [16]:
saves_made = pd.read_sql_query("""
select
Team,
sum(NumofSaves) as saves_made
from matches_data
group by Team
order by saves_made desc
""", conn)

saves_made.style.hide_index()

In [17]:
avg_saves_made = pd.read_sql_query("""
select
Team,
avg(NumofSaves) as avg_saves_made
from matches_data
group by Team
order by avg_saves_made desc
""", conn)

avg_saves_made.style.hide_index()

In [18]:
avg_save_accuracy = pd.read_sql_query("""
select
Team,
avg(SavesAccuracy) as avg_saves_acccuracy
from matches_data
group by Team
order by avg_saves_acccuracy desc
""", conn)

avg_save_accuracy

                       Team  avg_saves_acccuracy
0         Tottenham Hotspur             0.748684
1                   Arsenal             0.743421
2            Crystal Palace             0.725000
3          Newcastle United             0.721053
4          Sheffield United             0.720526
5            Leicester City             0.703684
6         Manchester United             0.698421
7           West Ham United             0.696316
8                   Burnley             0.691316
9    Brighton & Hove Albion             0.669737
10                  Watford             0.660263
11             Norwich City             0.630526
12  Wolverhampton Wanderers             0.630526
13              Southampton             0.623158
14              Bournemouth             0.622632
15                Liverpool             0.618684
16                  Everton             0.596316
17                  Chelsea             0.581579
18              Aston Villa             0.577105
19          Manchester City             0.536316

In [19]:
total_shots_by_team = pd.read_sql_query("""
select
Team,
sum(NumofShots) as total_shots
from matches_data
group by team
order by total_shots desc
""", conn)

total_shots_by_team.style.hide_index()

In [20]:
avg_shots_by_team = pd.read_sql_query("""
select
Team,
avg(NumofShots) as avg_shots
from matches_data
group by team
order by avg_shots desc
""", conn)

avg_shots_by_team.style.hide_index()

In [21]:
shot_accuracy = pd.read_sql_query("""
select
Team,
sum(Score) / sum(NumofShots) as shot_accuracy
from matches_data
group by Team
order by shot_accuracy desc
""", conn)

shot_accuracy

                       Team  shot_accuracy
0                 Liverpool         0.1453
1           Manchester City         0.1397
2                   Arsenal         0.1397
3         Tottenham Hotspur         0.1390
4            Leicester City         0.1257
5         Manchester United         0.1250
6           West Ham United         0.1184
7   Wolverhampton Wanderers         0.1126
8                   Burnley         0.1120
9                   Chelsea         0.1115
10         Sheffield United         0.1105
11              Bournemouth         0.1042
12              Southampton         0.1026
13         Newcastle United         0.0957
14                  Everton         0.0946
15              Aston Villa         0.0905
16                  Watford         0.0878
17   Brighton & Hove Albion         0.0855
18           Crystal Palace         0.0833
19             Norwich City         0.0636

In [23]:
avg_shot_accuracy = pd.read_sql_query("""
with accuracy as
(
select
Team,
Score / NumofShots as shot_accuracy
from matches_data
)
select
Team,
avg(shot_accuracy) as avg_accuracy
from accuracy
group by Team
order by avg_accuracy  desc
""", conn)

avg_shot_accuracy.style.hide_index()

In [25]:
avg_posession_by_team = pd.read_sql_query("""
select
Team,
avg(Possession) as avg_possession
from matches_data
group by Team
order by avg_possession desc
""", conn)

avg_posession_by_team.style.hide_index()

In [28]:
tackles_by_team = pd.read_sql_query("""
select
Team,
sum(Tackles) as total_tackles
from matches_data
group by Team
order by total_tackles desc
""", conn)

tackles_by_team.style.hide_index()

In [29]:
avg_tackles_by_team = pd.read_sql_query("""
select
Team,
avg(Tackles) as avg_tackles
from matches_data
group by Team
order by avg_tackles desc
""", conn)

avg_tackles_by_team.style.hide_index()

In [32]:
avg_interceptions_by_team = pd.read_sql_query("""
select
Team,
avg(Interceptions) as avg_interceptions
from matches_data
group by Team
order by avg_interceptions desc
""", conn)

avg_interceptions_by_team.style.hide_index()

In [33]:
avg_passes_by_team = pd.read_sql_query("""
select
Team,
avg(NumofPass) as avg_passes
from matches_data
group by Team
order by avg_passes desc
""", conn)

avg_passes_by_team.style.hide_index()

In [36]:
passes_to_score_by_team = pd.read_sql_query("""
select
Team,
sum(NumofPass) / sum(Score) as passes_to_score
from matches_data
group by Team
order by passes_to_score desc
""", conn)

passes_to_score_by_team.style.hide_index()

how many passes are needed to score against each team? which teams suffers more goals against at home?

In [37]:
goals_received_home = pd.read_sql_query("""
select
Match_Name,
substr(Match_Name, 1, instr(Match_Name, ' vs. ')) as home,
substr(Match_Name, instr(Match_Name, '.') + 1) as visitor,
Team as team,
Score as score
from matches_data
""", conn)

goals_received_home

,Match_Name,home,visitor,team,score
0,Liverpool vs. Norwich City,Liverpool,Norwich City,Liverpool,4
1,Liverpool vs. Norwich City,Liverpool,Norwich City,Norwich City,1
2,West Ham United vs. Manchester City,West Ham United,Manchester City,West Ham United,0
3,West Ham United vs. Manchester City,West Ham United,Manchester City,Manchester City,5
4,Burnley vs. Southampton,Burnley,Southampton,Burnley,3
...,...,...,...,...,...
755,Manchester City vs. Norwich City,Manchester City,Norwich City,Norwich City,0
756,Leicester City vs. Manchester United,Leicester City,Manchester United,Leicester City,0
757,Leicester City vs. Manchester United,Leicester City,Manchester United,Manchester United,2
758,Newcastle United vs. Liverpool,Newcastle United,Liverpool,Newcastle United,1
759,Newcastle United vs. Liverpool,Newcastle United,Liverpool,Liverpool,3